<html>
    <body>
        <input type="hidden" value="{{session_id}}" id="session_id">
        <video controls id="video">
            <source src="{{video_url}}"/>
        </video>
        <p>Url: {{slave_url}}</p>
        <script src="static/master.js"></script>
    </body>
</html>
