<html>
    <head>
        <input type="hidden" value="{{session_id}}" id="session_id">
    </head>
    <body>
        <video controls id="video">
            <source src="{{video_url}}"/>
        </video>
        <script src="../static/slave.js"></script>
    </body>
</html>
